.home-container {
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.filter-icon-wrapper {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 200;
}

.filter-icon {
  font-size: 28px;
  cursor: pointer;
  color: #0d6efd;
  background-color: rgb(22, 44, 101);
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40px;
  height: 40px;
}

.filter-icon:hover {
  transform: scale(1.1);
}
